/*!
 * Name: 	Infinity
 * Version: 1.0
 * Updated: 28/05/2015
 * Website:	http://audaindesigns.com
 * Author:	Audain Designs
 * Type:	Style - General
 */
 a:hover {
    color: #23527c;
}
a{
    color: #337ab7;
}
 .item-clickable a{

 	background: transparent;
 }
 .item-clickable a img {
    border: none !important;
}

.testi-item{

    width: 33%;
    display: inline-block;
    margin-right: 10px;

}
#testimonials{
	background:none !important;
}
.push-menu-button{
	width: 106px;
}